.container{

	background: rgb(0, 114, 235);
	width: 400px;
	padding: 7px ;
	padding-left: 20px;
	margin: 80px auto;
	border-radius: 8px;
	

}

label[for="mk"] {
    margin: 7px;

}
label{
	font-weight: bold;
	font-family: Arial;
}
.form-control {
    padding:5px;
	width:60%;

}

.button{
	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(33, 31, 189);
	padding:10px;
	width:30%;
	border:1px solid whitesmoke;
	margin-left: 15px;
	 cursor: pointer;
	 transition: 0.3s ;
}
.button1{

	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(236, 39, 39);
	padding:10px;
	margin-left: 100px;
	width:30%;
	border:1px solid whitesmoke;
	 cursor: pointer;
	 transition: 0.3s ;
}

.button:hover{
	background-color:rgb(22, 6, 255);
	transform: scale(1.1);
}

.button1:hover{
	background-color:rgb(207, 35, 35);
	transform: scale(1.1);
}


.form-group{
	
	letter-spacing: 1px;
	padding:20px 10px;
	

}

#frmLogin{
	background-color: rgb(252, 249, 249);
	width: 400px;
	
	padding:80px 2px;
	box-shadow: -10px 0 15px rgba(0,0,0,0.1);
	border-radius: 10px;

}
h2{
	text-align: center;
	margin-bottom: 50px;
	color:rgb(22, 14, 164);
	font-weight: bold;
}
*{
	
	margin: 0;
	padding: 0;
}

body{
	background: url(../assets/imges/anhnenform.jpg);
	background-size: cover;			
	background-attachment: fixed;
	background-position: center;
	
}