

table{
	width: 100%;
	border-collapse: collapse;
	border: 3px solid rgb(45, 143, 209);
	border-radius: 10px;
	background: rgb(255, 255, 255);
				}
th{	
	padding: 12px;
	background:rgb(50, 172, 233);
	font-size: 18px;
	text-align: left;
		}


td{
	padding: 12px;
	border: 1px solid rgb(25, 192, 201);
	font-size: 19px;
				
		}

		p{
	font-size: 18px;}

#content3{
	text-align:center;
	font-weight:bold;
	padding:10px;
	border:1px solid rgb(34, 129, 238);
	
}


.content2{
	padding:30px 150px;
}
.table-box td,th {
	width: auto;
}

.table-box td:hover{
	background:rgba(50, 172, 233, 0.201);
}
td img {
	border-radius:20px;
	width:100%;	
	max-width: 900px;
	
	
}

.table1{
	width:100%;
	padding:20px 100px;
				}

.background2  {
		background:rgb(50, 172, 233);
		line-height:50px;
}


ul, ol {
	padding-left: 150px;
	font-size: 23px;
	line-height: 1.6;
}


a {
	color: rgb(50, 172, 233);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: rgb(50, 172, 233);
}

h1{
	text-align:center;
	font-size:30px;
	color:rgb(6, 43, 63);
	padding:20px;}

.logo a{
	text-decoration:none;
	font-size:30px;
	color:rgb(3, 0, 0);
	font-weight: bold;
	
}


.header{
	display: flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
	height:70px;
	background:rgb(50, 172, 233);
	padding:10px;
	border:1px solid rgb(50, 172, 233);
	
}

.header-menu a{
	padding:10px;
	font-size:25px;
	text-decoration:none;
	font-weight:bold;
	transition:0.2s;
	color:black;
}

.header-menu a:hover{
	transform:scale(1.2);
	color:white;
}

.logo {
    
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}
* {
    box-sizing: border-box;
}

body{
   margin:0;
	

}