.container{

	background: rgb(149, 255, 172);
	width: 400px;
	padding: 7px ;
	padding-left: 20px;
	margin: 80px auto;
	border-radius: 8px;
	

}

label[for="mk"] {
    margin: 7px;

}
label{
	font-weight: bold;
	font-family: Arial;
}
.form-control {
    padding:5px;
	width:60%;

}

.button{
	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(39, 201, 17);
	padding:10px;
	width:30%;
	border:1px solid whitesmoke;
	margin-left: 15px;
	 cursor: pointer;
	 transition: 0.3s ;
}
.button1{

	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(236, 39, 39);
	padding:10px;
	margin-left: 100px;
	width:30%;
	border:1px solid whitesmoke;
	 cursor: pointer;
	 transition: 0.3s ;
}

.button:hover{
	background-color:rgb(9, 222, 66);
	transform: scale(1.1);
}

.button1:hover{
	background-color:rgb(225, 18, 18);
	transform: scale(1.1);
}


.form-group{
	
	letter-spacing: 1px;
	padding:20px 10px;
	

}

#frmLogin{
	background-color: rgb(252, 249, 249);
	width: 400px;
	
	padding:80px 2px;
	box-shadow: -10px 0 15px rgba(0,0,0,0.1);
	border-radius: 10px;

}
h2{
	text-align: center;
	margin-bottom: 50px;
	color:rgb(12, 186, 55);
	font-weight: bold;
}

input:focus{
	outline: none;
	border-color: rgb(38, 237, 71);
	transition: 0.3s;
}

input:hover{
	border-color: rgb(38, 237, 71);
	transition: 0.3s;
}
body{
	background: #e2fff1;
	font-family: Arial;
	margin: 0;
	padding: 0;
}