*{
    margin:0;
    padding:0;
    line-height: 2;
}

.row{
    align-items: center;
}




#p-image{

    width: 100%;

    height: 500px;

    object-fit: cover;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}



.card{

    border: none;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    padding: 20px;

}



#p-name{

    font-size: 48px;

    font-weight: bold;

}



#p-price{

    font-size: 28px;

    margin-top: 15px;

}



#p-description{

    font-size: 18px;

    line-height: 1.8;

    text-align: justify;

}
