.container{

	background: rgb(56, 177, 136);
	width: 400px;
	padding: 5px ;
	padding-left: 20px;
	margin: 60px auto;
	border-radius: 8px;
	

}

label[for="mk"] {
    margin: 7px;

}
label{
	font-weight: bold;
	font-family: Arial;
}
.form-control {
    padding:5px;
	width:60%;

}

.button{
	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(92, 128, 31);
	padding:10px;
	width:30%;
	border:1px solid whitesmoke;
	margin-left: 15px;
	 cursor: pointer;
}
.button1{

	margin-top: 30px;
	color:white;
	border-collapse:collapse ;
	border-radius: 10px;
	background-color: rgb(175, 78, 49);
	padding:10px;
	margin-left: 100px;
	width:30%;
	border:1px solid whitesmoke;
	 cursor: pointer;
}

.button:hover{
	background-color:green;
	transform: scale(1.1);
}

.button1:hover{
	background-color:rgb(207, 35, 35);
	transform: scale(1.1);
}


.form-group{
	
	letter-spacing: 1px;
	padding:20px 10px;
	

}

#frmLogin{
	background-color: antiquewhite;
	width: 400px;
	
	padding:80px 2px;
	box-shadow: -10px 0 15px rgba(0,0,0,0.1);
	border-radius: 10px;

}
h2{
	padding-top: 30px;
	text-align: center;
	color:white;
}
*{
	
	margin: 0;
	padding: 0;
}

body{

	background-color: rgb(45, 104, 84);

}